.app__container {
    background: lightgrey;

}

.header-page {
    display: flex;
    margin-bottom: 50px;
    background-color: blueviolet;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
}

.search__title {
    margin-bottom: 10px;
    font-weight: bold;
}

.search {
    margin: 0 20px;
    padding: 5px;
    width: 250px;
}


.found {
    display: flex;
    height: 170px;
    width: 500px;
    border: 2px solid black;
    margin-bottom: 10px;
    align-items: center;
    justify-content: flex-start;
}

.found__title {
    margin-left: 5px;
}