.items-list {
  display: flex;
  justify-content: center;
}

.items-list__wrap {
  width: 640px;
  overflow-x: hidden;
}

.items {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.15s ease-in-out;
}

.item {
  background-color: antiquewhite;
  padding: 5px;
}
