.items-list {
  display: flex;
  justify-content: center;
}

.items-list__wrap {
  width: 640px;
  overflow-x: hidden;
}

.items {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.15s ease-in-out;
  position: relative;
}

.item {
  background-color: antiquewhite;
  padding: 5px;
}

.item__image {
  width: 150px;
  height: 150px;
  background-color: #FFF;
}

.pos__left {
  position: absolute;
  top: 80px;
  left: 200px;
  z-index: 2;
}

.pos__right {
  position: absolute;
  top: 80px;
  right: 200px;
  z-index: 2;
}
