
@media (max-width: 780px) {
  .albumList__item {
    flex-basis: 25%;
    justify-content: center;
  }
}

@media (max-width: 625px) {
  .albumList__item {
    flex-basis: 50%;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .albumList__item {
    flex-basis: 100%;
    justify-content: center;
  }
}

  