.albumList {
  display: flex;
  flex-wrap: wrap;
}

.albumList__item {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
  
}

.albumList__name {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  background-color: rgb(144, 223, 236);
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  border-radius: 5px;
  align-items: center;
}

@media (max-width: 780px) {
  .albumList__item {
    flex-basis: 25%;
    justify-content: center;
  }
}

@media (max-width: 625px) {
  .albumList__item {
    flex-basis: 50%;
    justify-content: center;
  }
}

@media (max-width: 360px) {
  .albumList__item {
    flex-basis: 100%;
    justify-content: center;
  }
}

  